{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
</div>
<div class="container">
    <h2>Current Email Address: {{ current_user.email }}</h2>
    <a href="{{url_for('auth.profile')}}" class="btn btn-primary btn-small"> Change Email Address </a>
    <a href="{{url_for('auth.profile')}}" class="btn btn-primary btn-small"> Change Password </a>
    <h2>Wallet Balance: {{ current_user.wallet }}</h2>
    <a href="{{url_for('auth.profile')}}" class="btn btn-primary btn-small">Top Up</a>
    <h2>Order History</h2>

   <table style="width: 100%; table-layout: fixed; " id="OrderTable">
    <tr style="border: 1px solid black; border-collapse: collapse;">
        <th style="text-align: center"><b>ID</b></th>
        <th style="text-align: center"><b>Product</b></th>
        <th style="text-align: center"><b>Add Date</b></th>
        <th></th>
        <th></th>
    </tr>
    {% for order in orders %}
    <tr style="border: 1px solid black; border-collapse: collapse;">
        <td style="text-align: center">{{order.id}}</td>
        <td style="text-align: center">{{order.product_id}}</td>
        <td style="text-align: center">{{order.place_time}}</td>
        <td style="text-align: center"><a href="{{url_for('auth.profile')}}" class="btn btn-primary btn-small">Cancel</a></td>
        <td style="text-align: center"><a href="{{url_for('auth.profile')}}" class="btn btn-primary btn-small">Edit Comment</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
